*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-nuetral);
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    background-color: hsl(var(--hue), 100%, 20%);
}
body.correct {
    --hue: var(--hue-correct)
}

body.wrong {
    --hue: var(--hue-wrong)
}

.container {
    width: 800px;
    height: 750px;
    max-width: 80%;
    background-color: crimson;
    border-radius: 25px;
    padding:10px;
    box-shadow: 0, 0, 10px 2px;
}
.title {
    text-align:center;
    font-size: 64px;
    font-weight: bold;
    margin: 15px;
}
.question {
    width: 700px;
    height: 225px;
    margin: 10px auto auto auto;
    font-size: 48px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap:15px;
    margin: 20px, 0;
}

.btn {
    margin-top: 15px;
    border-radius: 5px;
    padding: 5px, 10px;
    height: 100px;
    width: 250px;
    align-items: center;
    font-size: 36px;
    background-color:lightgray;
    border-color: rgb(97, 97, 97);
}
.btn:hover {
    border-color: black;
    background-color: white;
}

/* .btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
} */

.start-btn {
    font-size: 7rem;
    font-weight: bold;
    margin: 100px;
    padding: 10px 20px;
    height: 350px;
    width: 450px;
    background-color:darkred;
    border: 3px solid black;
    border-radius: 10px;
}
.start-btn:hover {
    background-color: red;
    border: 3px solid black;
}

.next-btn {
    font-size: 5rem;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
    height: 100px;
    width: 450px;
    background-color:darkgreen;
    border: 3px solid black;
    border-radius: 10px;
}
.next-btn:hover {
    background-color: rgb(0, 195, 0);
    border: 3px solid black;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.countdown {
    font-size: 48px;
    background-color: orangered;
    border-radius: 10px;
    border: orange solid 5px;
    width: 200px;
    padding: 15px;
    margin: 10px auto 0 auto;
}
.hide {
    display: none;
}