*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-nuetral);
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    background-color: hsl(var(--hue), 100%, 20%);
}
body.correct {
    --hue: var(--hue-correct)
}

body.wrong {
    --hue: var(--hue-wrong)
}